<div class="col-md-12">
    <!--First review-->
    <h4 class="text-center">Recomendações</h4>
    <hr>
    <div class="media mb-1">
        <div class="media-body">
            <h5 class="media-heading">Final de semana</h5>
            <h6 class="media-heading">{{$ctrl.date}}</h6>
            <ul class="rating inline-ul">
                <li><i class="fa fa-star amber-text"></i></li>
                <li><i class="fa fa-star amber-text"></i></li>
                <li><i class="fa fa-star amber-text"></i></li>
                <li><i class="fa fa-star amber-text"></i></li>
                <li><i class="fa fa-star amber-text"></i></li>
            </ul>
            <p>{{$ctrl.message}}</p>
        </div>
    </div>

</div>