.day-card .card-day {
    padding: 10px;
    color: #FFF;
    background: #0054d3;
}

.day-card .card-day-text {
    font-size: 12px;
    font-weight: 200;
}

.day-card .card-day-text-max {
    font-size: 19px;
    font-weight: 300;
}
.day-card .card-day-text-min {
    font-size: 15px;
    font-weight: 300;
}
